@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none !important;
  list-style-type: none !important;
  box-sizing: border-box !important;
}

.my_container {
  max-width: 1140px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 12px;
  padding-right: 12px;
}

@font-face {
  font-family: 'Azo Sans Uber';
  src: url(./assets/fonts/OnlineWebFonts_COM_657ffadaa4c0860145e513451dff4533/Azo\ Sans\ Uber\ W01\ Regular.otf);
}

/* ========Root Start========= */
:root {
  /* FONT-SIZE */
  --fs-sm: 16px;
  --fs-2xmd: 20px;
  --fs-xmd: 22px;
  --fs-md: 24px;
  --fs-lg: 36px;
  --fs-xl: 64px;
  /* FONT COLORS */
  --text-ffffff: #ffffff;
  --text-F1C85D: #F1C85D;
  --text-000000: #000000;
}

.fs_sm {
  font-size: var(--fs-sm);
}

.fs_2xmd {
  font-size: var(--fs-2xmd);
}

.fs_xmd {
  font-size: var(--fs-xmd);
}

.fs_md {
  font-size: var(--fs-md);
}

.fs_lg {
  font-size: var(--fs-lg);
}

.fs_xl {
  font-size: var(--fs-xl);
}

.text_ffffff {
  color: var(--text-ffffff) !important;
}

.text_F1C85D {
  color: var(--text-F1C85D);
}

.text_000000 {
  color: var(--text-000000);
}

/* ==========Root End Here========== */
/* ===========Common Classes=========== */
.fw-900 {
  font-weight: 900;
}

.cursor_pointer {
  cursor: pointer;
}

.ff_Azo_Sans_Uber {
  font-family: 'Azo Sans Uber';
}

.ff_montserrat {
  font-family: 'Montserrat' !important;
}

.buttons {
  padding: 16px 24px;
  border: none;
  border-radius: 4px;
  background-color: #F1C85D;
  box-shadow: 0px 9px 29px 0px rgba(253, 218, 96, 0.50);
  color: var(--text-000000);
  font-family: 'Azo Sans Uber';
  font-size: var(--fs-sm);
  font-weight: 400;
  transition: all 500ms linear;
}

.buttons:hover {
  color: var(--text-ffffff);
  background-color: black;
  box-shadow: 0px 5px 13px 5px #ffffff;
}

.headings {
  font-family: 'Azo Sans Uber';
  font-size: var(--fs-xl);
  font-weight: 400;
  color: var(--text-ffffff);
}

.paragraphs {
  font-family: 'Montserrat';
  font-size: var(--fs-sm);
  font-weight: 400;
  color: var(--text-ffffff);
  line-height: 160%;
}

.z-5 {
  z-index: 5;
}

.social_shadow {
  filter: drop-shadow(0 0 0.3rem #F1C85D);
}

.img {
  transition: all 500ms linear;
}

.img:hover {
  cursor: pointer;
  filter: drop-shadow(0 0 0.5rem #F1C85D);
}

div ::-webkit-scrollbar {
  display: none;
}

/* ========Preloader======= */
.preloading_animation {
  animation: scale 700ms infinite alternate-reverse;
}

@keyframes scale {
  0% {
    transform: scale(0.9);
  }

  100% {
    transform: scale(1.1);
  }
}

.preloading_animation1 {
  animation: rotate 700ms infinite alternate;
}

@keyframes rotate {
  0% {
    transform: rotate(10deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}

/* ========Preloader End====== */
/* =========Back To Top======= */
.back_top_btn {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: #FDDA60;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 1.7%;
  bottom: 40px;
  z-index: 4;
  transition: all 500ms linear;
}

.back_top_btn:hover {
  background-color: black;
  box-shadow: 1px 1px 5px 5px white;
}

.back_top_btn path {
  transition: all 500ms linear;
}

.back_top_btn:hover path {
  fill: #FFF;
}

/* ========Back To Top End======= */
/* =============Common Classes End=========== */
/* ===========Hero=========== */
.hero_bg {
  background-image: url(./assets/images/webp/hero_bg.webp);
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
}

.dompkong_line {
  position: relative;
}

.dompkong_line::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5px;
  background-color: #F1C85D;
}

.social_icon {
  transition: all 500ms linear;
}

.social_icon:hover {
  transform: translatey(-5px);
  filter: drop-shadow(0px 4px 21px #f1c85d);

}

.decoration_left_abs {
  position: absolute;
  left: 0;
  top: 0;
}

.decoration_right_abs {
  position: absolute;
  right: 0;
  top: 0;
}

/* ============Hero End======================= */
/* =======About============ */
.about_ellipse {
  width: 100px;
  height: 150px;
  border-radius: 100%;
  background-color: #FDDA60;
  filter: blur(100.5px);
  position: absolute;
  left: 50%;
  top: 15%;
  transform: translatex(-50%);
  z-index: -1;
}

#slideshow {
  margin: 0 auto;
  padding-top: 50px;
  height: 250px;
  max-width: 539px;
  background-color: transparent;
  box-sizing: border-box;
  transform: rotate(15deg);
  /* overflow-x: hidden; */
}

.entire-content {
  margin: auto;
  width: 190px;
  perspective: 1000px;
  position: relative;
}

.content-carrousel {
  width: 100%;
  position: absolute;
  float: right;
  animation: rotar 15s infinite linear;
  transform-style: preserve-3d;
}

.content-carrousel:hover {
  animation-play-state: paused;
  cursor: pointer;
}

.content-carrousel figure {
  width: 80%;
  height: 100px;
  overflow: hidden;
  backface-visibility: hidden;
  position: absolute;
}

.content-carrousel figure:nth-child(1) {
  transform: rotateY(0deg) translateZ(240px);
}

.content-carrousel figure:nth-child(2) {
  transform: rotateY(40deg) translateZ(240px);
}

.content-carrousel figure:nth-child(3) {
  transform: rotateY(80deg) translateZ(240px);
}

.content-carrousel figure:nth-child(4) {
  transform: rotateY(120deg) translateZ(240px);
}

.content-carrousel figure:nth-child(5) {
  transform: rotateY(160deg) translateZ(240px);
}

.content-carrousel figure:nth-child(6) {
  transform: rotateY(200deg) translateZ(240px);
}

.content-carrousel figure:nth-child(7) {
  transform: rotateY(240deg) translateZ(240px);
}

.content-carrousel figure:nth-child(8) {
  transform: rotateY(280deg) translateZ(240px);
}

.content-carrousel figure:nth-child(9) {
  transform: rotateY(320deg) translateZ(240px);
}

.content-carrousel figure:nth-child(10) {
  transform: rotateY(360deg) translateZ(240px);
}

.shadow {
  position: absolute;
  box-shadow: 0px 0px 20px 0px #000;
}

.content-carrousel img {
  image-rendering: auto;
  transition: all 300ms;
  width: 100%;
  height: 100%;
}

.content-carrousel img:hover {
  transform: scale(1.2);
  transition: all 300ms;
}

@keyframes rotar {
  from {
    transform: rotateY(90deg);
  }

  to {
    transform: rotateY(360deg);
  }
}

.img_border {
  border: 3px solid #FDDA60;
  border-radius: 8px;
}

/* ===========About End========== */
/* ============Utilities=========== */
.utilities_cards {
  width: 369px;
  height: 289px;
  border-radius: 16px;
  padding: 25px 19px 22px 20px;
  border: 1px solid rgba(255, 255, 255, 0.20);
  background: rgba(255, 255, 255, 0.10);
  backdrop-filter: blur(15.5px);
  transition: all 500ms linear;
}

.utilities_cards:hover {
  border-radius: 16px;
  border: 1px solid #FFF;
  background-color: #FDDA60;
  box-shadow: 0px 14px 56px 0px rgba(253, 218, 96, 0.50);
}

.utilities_cards:hover path {
  stroke: black;
}

.utilities_cards:hover .text_ffffff {
  color: var(--text-000000) !important;
}

.utilities_cards:hover>p {
  color: #000000;
}

.utilities_ellipses {
  width: 100px;
  height: 100px;
  border-radius: 100%;
  background-color: #FFF;
  filter: blur(94px);
}

.utilities_ellipses_abs_left {
  position: absolute;
  left: -10%;
  bottom: -10%;
}

.utilities_ellipses_abs_right {
  position: absolute;
  right: -10%;
  top: -10%;
}

/* ================Utility End=============== */
/* ============The Kong====================== */
.kong_ellipse {
  width: 364px;
  height: 364px;
  border-radius: 364px;
  background-color: #FDDA60;
  filter: blur(179.54052734375px);
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.big_image {
  width: 786px;
  height: 679px;
}

/* ============The Kong End================== */
/* ============Mint Nft============ */
.mint_nft_bg {
  background-image: url(./assets/images/webp/mint_nft_bg.webp);
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.mint_nft_bg_2 {
  position: absolute;
  top: 0;
  left: 0;
}

.count_box_btn {
  width: 75px;
  height: 65px;
  border: none;
  border-radius: 4px;
  background-color: #FFF;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 400ms linear;
}

.count_box_btn:hover {
  background-color: #F1C85D;
  color: white;
  box-shadow: 0px 4px 15px 0px #F1C85D;
}

.counter_box {
  width: 320px;
  height: 65px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  border-radius: 4px;
  border: 2px solid #FFF;
}

.mint_now_btn {
  width: 494px;
  height: 61px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FDDA60;
  border-radius: 4px;
  border: none;
  box-shadow: 0px 4px 15px 0px rgba(253, 218, 96, 0.50);
  transition: all 500ms linear;
}

.mint_now_btn:hover {
  background-color: black;
  color: white;
  box-shadow: 0px 4px 15px 0px white;
}

.mint_nft_ellipse_1 {
  width: 173px;
  height: 173px;
  border-radius: 100%;
  background-color: #FDDA60;
  filter: blur(146.5px);
  position: absolute;
  left: 0;
  top: 5%;
}

.mint_nft_ellipse_2 {
  width: 296px;
  height: 296px;
  border-radius: 100%;
  background-color: #FDDA60;
  filter: blur(146.5px);
  position: absolute;
  right: -10%;
  top: 50%;
  transform: translatey(-50%);
}

/* ===========Mint Nft End============ */
/* ===========Roadmap================== */
.line_abs {
  position: absolute;
  left: 25%;
  top: -20%;
}

.percentage_circle {
  width: 76px;
  height: 76px;
  border-radius: 100%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.roadmap {
  transition: all 300ms linear;
  cursor: pointer;
}

.drop_shadow {
  filter: drop-shadow(0px 4px 21px rgba(253, 218, 96, 0.70));

}

.roadmap:hover .percentage_circle {
  background-color: #FDDA60;
  filter: drop-shadow(0px 4px 21px rgba(253, 218, 96, 0.70));
}

.roadmap:hover path {
  fill: #FDDA60;
}

.roadmap:hover .roadmap_dot {
  filter: drop-shadow(0px 4px 21px rgba(253, 218, 96, 0.70));
}

/* ============Roadmap End============== */
/* ===========Meet The Team============= */
.hr_line {
  height: 1px;
  background-color: #FDDA60;
  filter: drop-shadow(0px 4px 21px rgba(253, 218, 96, 0.70));
}

.team_img {
  width: 230px;
  height: 230px;
  border-radius: 20px;
  border: 3px solid #FDDA60;
}

/* =========Faq============= */
.faq_bg {
  background-image: url(./assets/images/webp/faq_bg.webp);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.width-896 {
  width: 896px;
}

.accordion-button:not(.collapsed) {
  color: white !important;
  background-color: transparent !important;
  box-shadow: none !important;
  padding: 25px 0px 9px 0px !important;
  border-bottom: 0 !important;

}

.accordion-button:not(.collapsed)::after {
  background-image: url(./assets/images/svg/faq_-.svg) !important;
}

.accordion-button {
  padding: 25px 0px 17px 0px !important;
  font-size: 22px !important;
  font-weight: 700 !important;
  font-family: 'Montserrat' !important;
  background-color: transparent !important;
  border-bottom: 1px solid #F1C85D !important;
  border-radius: 0 !important;
}

.accordion-button::after {
  background-position: center !important;
}

.accordion-body {
  padding: 0px 50px 43px 0px !important;
  font-weight: 400 !important;
  font-family: 'Montserrat' !important;
  font-size: 16px !important;
  color: #ffffff !important;
  background-color: transparent !important;
  border-bottom: 1px solid #F1C85D !important;

}

.accordion {
  --bs-accordion-border-color: transparent !important;
  --bs-accordion-btn-color: white !important;
  --bs-accordion-btn-bg: transparent !important;
  --bs-accordion-btn-icon: url(./assets/images/svg/faq_+.svg) !important;
  --bs-accordion-btn-focus-border-color: none !important;
  --bs-accordion-btn-focus-box-shadow: none !important;
}

.faq_line {
  height: 1px;
  background-color: #ffffff;
}

.faq_ellipse {
  width: 247px;
  height: 247px;
  border-radius: 100%;
  background-color: #FDDA60;
  filter: blur(146.5px);
  position: absolute;
  bottom: -5%;
  left: -5%;
}

.faq_ellipse_2 {
  width: 132px;
  height: 132px;
  border-radius: 100%;
  background-color: #FDDA60;
  filter: blur(146.5px);
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translate(-50% -50%);
  z-index: 2;
}

@media (min-width:1200px) {

  /* ======Hero kongs============ */
  .pac_kong_abs {
    position: absolute;
    bottom: -12.5%;
    right: 27%;
  }

  .tiger_kong_abs {
    position: absolute;
    bottom: -12.5%;
    right: 5%;
  }

  .white_kong_abs {
    position: absolute;
    bottom: -12.5%;
    right: -27.5%;
  }

  /* ======Hero kongs end========= */
  /* ========The Kong============= */
  .left_kong1_abs {
    position: absolute;
    left: -2%;
    top: 0;
  }

  .left_kong2_abs {
    position: absolute;
    left: 5%;
    top: 18%;
  }

  .left_kong3_abs {
    position: absolute;
    left: 13%;
    top: 36%;
  }

  .left_kong4_abs {
    position: absolute;
    left: 5%;
    top: 54%;
  }

  .left_kong5_abs {
    position: absolute;
    left: -2%;
    top: 72%;
  }

  .right_kong1_abs {
    position: absolute;
    right: -2%;
    top: 0;
  }

  .right_kong2_abs {
    position: absolute;
    right: 5%;
    top: 18%;
  }

  .right_kong3_abs {
    position: absolute;
    right: 13%;
    top: 36%;
  }

  .right_kong4_abs {
    position: absolute;
    right: 5%;
    top: 54%;
  }

  .right_kong5_abs {
    position: absolute;
    right: -2%;
    top: 72%;
  }

  /* ==========The Kongs End=============== */
  /* =============Roadmap=================== */
  .roadmap_items_line {
    position: absolute;
    left: -29%;
  }

  .roadmap_items_line_2 {
    position: absolute;
    left: -18%;
  }

  .roadmap_items_line_3 {
    position: absolute;
    left: -12%;
  }

  .roadmap_items_line_4 {
    position: absolute;
    left: -16%;
  }

  .roadmap_items_line_5 {
    position: absolute;
    left: -20%;
  }

  .roadmap_dot {
    width: 30px;
    height: 30px;
    border-radius: 100%;
    background-color: #FDDA60;
  }

  .dot_abs1 {
    position: absolute;
    left: -40%;
    top: 45%;
    transform: translateY(-50%);
  }

  .dot_abs2 {
    position: absolute;
    left: -27%;
    top: 45%;
    transform: translateY(-50%);
  }

  .dot_abs3 {
    position: absolute;
    left: -22%;
    top: 43%;
    transform: translateY(-50%);
  }

  .dot_abs4 {
    position: absolute;
    left: -24%;
    top: 42%;
    transform: translateY(-50%);
  }

  .dot_abs5 {
    position: absolute;
    left: -27%;
    top: 50%;
    transform: translateY(-50%);
  }

  /* =============Roadmap End==================== */
}

@media (max-width:1200px) {
  .width_xl_100 {
    width: 100%;
  }

  .hero_bg {
    background-position: left;
    background-size: cover;
  }

  /* ======Hero kongs============ */
  .kong_ellipse {
    filter: blur(120.54052734375px);
    top: 60%;
  }
  .pac_kong_abs {
    margin-right: -13%;
  }

  .tiger_kong_abs {
    margin-right: -20%;
  }

  .white_kong_abs {
    margin-right: -28%;
  }

  /* ======Hero kongs end========= */
}
@media (max-width:992px) {
  .roadmap_line{
    position: relative;
  }
  .roadmap_line::after{
    content: '';
    position: absolute;
    left: 6.5%;
    top: 2%;
    width: 5px;
    height: 90%;
    background-color: #F1C85D;
  }
}
@media (max-width:768px) {
  :root {
    /* FONT-SIZE */
    --fs-lg: 30px;
    --fs-xl: 50px;
  }

  .width_md_50 {
    width: 50%;
  }

  .width_md_75 {
    width: 75%;
  }

  .width_md_100 {
    width: 100%;
  }
  .roadmap_line::after{
    left: 9%;
  }
}

@media (max-width:576px) {
  .width_sm_100 {
    width: 100%;
  }

  :root {
    /* FONT-SIZE */
    --fs-lg: 28px;
    --fs-xl: 35px;
  }
  .roadmap_line::after{
    left: 50px;
    height: 80%;
    top: 8%;
  }
}

@media (min-width:1200px) and (max-width:1400px) {
  .dot_abs2 {
    left: -26%;
  }

  .dot_abs3 {
    left: -20%;
  }

  .dot_abs4 {
    left: -22%;
  }
}